body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2E2E2E;
}

.flex-container, header {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10px 1em; /* Corrigido: adicionado 'px' como unidade */
    padding: 10px;
}

.flex-container li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}

h1,
h2 {
    text-align: center;
}

p {
    padding: 10px;
    margin: 10px;
}

input {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

/* Classes para banner e imagem */

.banner {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin: 10px;
}

.right-left {
    background-color: #7EACB5;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 1em; /* Padding interno para melhor espaçamento */
}

.img-banner {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.img-banner img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.img-pn {
    margin-right: 20px;
}

.banner-img {
    padding: 0.5em 1em;
    width: 300px;
}

.container-btn {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 10vh; /* Ajusta a altura conforme necessário */
}

.btn {
    padding: 8px 16px; /* Botão menor */
    background-color: #253A3E; /* Fundo verde */
    color: #CDF1F8; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: inline-block; /* Impede o botão de se comportar como um bloco de largura total */
    width: auto; /* O botão terá o tamanho baseado no conteúdo */
    min-width: 150px; /* Largura mínima opcional para não ficar muito pequeno */
    max-width: 300px; /* Largura máxima opcional, ajuste conforme necessário */
}

/* footer */

.rodape {
    background-color: #7EACB5;
    color: #2E2E2E;
    text-align: center;
    padding: 0.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.icones {
    padding: 10px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: #2E2E2E;
}

.detalhe-rodape{
    padding: 0 5px;
    width: 1.5px;
}

.listas-container {
    display: flex;
    justify-content: space-between; 

}

.lista-rodade_left, .lista-rodade_right {
    list-style: none; 
    padding-left: 10em; 
    margin: 0; 
    text-align: left;
}

.lista-rodade_left li, .lista-rodade_right li {
    margin-bottom: 10px; 
    padding-right: 10em;
    padding-bottom: 20px;
}

main {
    min-height: 100vh; 
    padding-bottom: 60px; 
}