@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* corpo*/
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #2E2E2E;
}

/*header menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 40px; 
    border-bottom: 2px solid #7EACB5;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; 
    height: 70px;
}

.menu-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu-nav ul {
    display: flex;
    list-style: none;
}

.menu-nav ul li {
    margin-right: 40px; 
}

.menu-nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #2E2E2E;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-nav ul li a:hover {
    color: #7EACB5;
    text-decoration: underline; 
}

.menu-right {
    display: flex;
    align-items: center;
}

.login-btn a{
    background-color: #7aabb5; 
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px; 
    height: 25px;
    margin-left: 15px;
}

.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 40px;
    height: 25px;
}
.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px;
    height: 25px;
}

.menu-right {
    display: flex;
    align-items: center;
}

.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px;
    height: 25px;
}

/* fim do menu */

.login-container {
    background-color: #7EACB5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza verticalmente */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #bebebe;
}

.register-link {
    display: block;
    margin-top: 15px;
    color: #001831;
    text-decoration: none;
    font-size: 13px; /* Assuming the original size was 14px */
}

.register-link:hover {
    text-decoration: underline;
}

.flex-container, header {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10 1em;
    padding: 10;
}

.flex-container li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}


/* footer */

.rodape {
    background-color: #7EACB5;
    color: #2E2E2E;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icones {
    padding: 10px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: #2E2E2E;
}

.detalhe-rodape{
    padding: 0 5px;
    width: 1.5px;
}

.listas-container {
    display: flex;
    justify-content: space-between; 

}

.lista-rodade_left, .lista-rodade_right {
    list-style: none; 
    padding-left: 10em; 
    margin: 0; 
    text-align: left;
}

.lista-rodade_left li, .lista-rodade_right li {
    margin-bottom: 10px; 
    padding-right: 10em;
    padding-bottom: 20px;
}

main {
    min-height: 100vh; 
    padding-bottom: 60px; 
}