@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #2E2E2E;
}

/*header menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 40px; 
    border-bottom: 2px solid #7EACB5;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; 
    height: 70px;
}

.menu-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu-nav ul {
    display: flex;
    list-style: none;
}

.menu-nav ul li {
    margin-right: 40px; 
}

.menu-nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #2E2E2E;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-nav ul li a:hover {
    color: #7EACB5;
    text-decoration: underline; 
}

.menu-right {
    display: flex;
    align-items: center;
}

.login-btn a{
    background-color: #7aabb5; 
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px; 
    height: 25px;
    margin-left: 15px;
}

.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 40px;
    height: 25px;
}
.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px;
    height: 25px;
}

.menu-right {
    display: flex;
    align-items: center;
}

.login-btn {
    background-color: #7aabb5;
    color: #2E2E2E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5c929d;
}

.cart-icon img {
    width: 25px;
    height: 25px;
}

/* fim do menu */

/*main*/

.banner-text {
    margin-top: 40px;
    text-align: center;
}

.projeto-info {
    padding: 40px;
    font-size: 32px;
}
.distribuidor-info {
    padding: 40px;
    font-size: 26px;
}

section {
    text-align: center; 
    margin-bottom: 40px; 
}

section p {
    max-width: 950px; 
    margin: 0 auto; 
    line-height: 1.6; 
    color: #333; 
    font-size: 16px; 
    text-align: justify;
}


.form-section {
    width: 150%;
    max-width: 800px;
    padding: 60px;
    margin: 0 auto;
}

.form-container {
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-form, label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 10px;
    color: #333;
}

.contato-form input[type="text"],
.contato-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #666;
}

.contato-form input[type="email"]::placeholder,
.contato-form textarea::placeholder {
    color: #b3b3b3;
}

.contato-form textarea {
    height: 150px;
    resize: none;
}

.titulo-3 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.imagens-dec {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    margin: 20px 0;
}

.detalle-img {
    width: 200px;
    margin: 0 10px; 
}

.btn-enviar {
    padding: 8px 16px; 
    background-color: #253A3E;
    color: #F7F7F7; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: inline-block; 
    width: auto; 
    min-width: 150px; 
    max-width: 300px; 
}
 /*fim da manin */

 .helper-text {
    display: none;
    font-size: .8rem;

  }
 .error {
    color: darkred;
  }

  .success {
    color: darkgreen;
  }

 /* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 50;
    right: 50;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  

  
  .visible {
    display: block;
  }

/* footer */

.rodape {
    background-color: #7EACB5;
    color: #2E2E2E;
    text-align: center;
    padding: 0.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.icones {
    padding: 10px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: #2E2E2E;
}

.detalhe-rodape{
    padding: 0 5px;
    width: 1.5px;
}

.listas-container {
    display: flex;
    justify-content: space-between; 

}

.lista-rodade_left, .lista-rodade_right {
    list-style: none; 
    padding-left: 10em; 
    margin: 0; 
    text-align: left;
}

.lista-rodade_left li, .lista-rodade_right li {
    margin-bottom: 10px; 
    padding-right: 10em;
    padding-bottom: 20px;
}

main {
    min-height: 100vh; 
    padding-bottom: 60px; 
}